@import './base.css';

#app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Styles pour les liens */
a {
  text-decoration: none;
  color: green;
  transition: 0.4s;
}

a:hover {
  background-color: lightgreen;
}