@import './base.css';

#app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Styles pour les liens */
a {
  text-decoration: none;
  color: green;
  transition: 0.4s;
}

a:hover {
  background-color: lightgreen;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}